<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAg4fYQ2P3MeilCSnkle7A4UHojMgW6FLE</string>
	<key>GCM_SENDER_ID</key>
	<string>273410141281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jjs.moviePortfolio</string>
	<key>PROJECT_ID</key>
	<string>movieflutter-8d84c</string>
	<key>STORAGE_BUCKET</key>
	<string>movieflutter-8d84c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273410141281:ios:f32b36ec0853b9b555ce20</string>
</dict>
</plist>